[submodule "stacklifecycle-oscli-test-plugin"]
	path = stacklifecycle-oscli-test-plugin
	url = https://github.com/stack-spot/stacklifecycle-oscli-test-plugin
[submodule "stacklifecycle-oscli-test-template-pattern-regex"]
	path = stacklifecycle-oscli-test-template-pattern-regex
	url = https://github.com/stack-spot/stacklifecycle-oscli-test-template-pattern-regex
[submodule "stacklifecycle-oscli-test-app"]
	path = stacklifecycle-oscli-test-app
	url = https://github.com/stack-spot/stacklifecycle-oscli-test-app
[submodule "stacklifecycle-oscli-test-env"]
	path = stacklifecycle-oscli-test-env
	url = https://github.com/stack-spot/stacklifecycle-oscli-test-env
[submodule "stacklifecycle-oscli-test-template-env"]
	path = stacklifecycle-oscli-test-template-env
	url = https://github.com/stack-spot/stacklifecycle-oscli-test-template-env
